1. AREA OF RECTANGLE

In [ ]:
height = int(input('enter a number'))
weidth = int(input('enter a number'))
a = height*weidth
print(a)

enter a number4
enter a number6
24

2. SUM,DIFFERENCE,PRODUCT,AND QUOTIENT

In [ ]:
a = int(input('enter a number'))
b = int(input('enter a number'))
s=a+b
d=a-b
p=a*b
q=a/b
print(s)
print(d)
print(p)
print(q)

enter a number8
enter a number5
13
3
40
1.6

3.CONVERT TEMPERATURE FROM FAHRENHEIT

In [ ]:
F=float(input('enter a number'))
C=(F-32)*5/9
print(C)

enter a number50
10.0

In [ ]:
C=float(input('enter a number'))
f=(C*9/5)+32
print(f)

enter a number20
68.0

4. NUMBER IS POSITIVE OR NEGATIVE

In [ ]:
num = int(input('enter a number'))
a=num
if a>0:
 print('num is positive')
elif a<0:
  print('num is negative')

enter a number6
num is positive

In [ ]:
y=int(input('enter the year'))
if y%4==0:
  print("it is a leap year")
elif y%4!=0:
  print("it is not a leap year")
elif y%400==0:
 print("it is a leap year")
elif y%400!=0:
  print("it is not a leap year")

enter the year2004
it is a leap year

6.GRAD SCALE

In [ ]:
mark=int(input('enter mark'))
if mark>90:
  print('A')
elif mark>80:
  print('B')
elif mark>70:
  print('C')
elif mark>60:
  print('D')
else:
  print('F')

enter mark46
F

7.PRINT 10 TO 1

In [ ]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

8.PRINT EVEN NUMBERS FROM 1 TO 20

In [ ]:
for i in range(2,22,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

9.MULTIPLICATION TABLE

In [ ]:
n=int(input('enter a number'))
for i in range (1,11):
   print(i,'x',n,'=',i*n)

enter a number6
1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60